filebeat:

  prospectors:

    -
      paths:

        - "{{elasticsearch_home}}/logs/*.log"
        - "{{elasticsearch_home}}/logs/*.log.*"

      input_type: log

      document_type: elasticsearchlog
